.modal-backdrop {
  background-color: rgb(0, 0, 0, 0.8);
}

.modal-new-dialog {
  overflow: auto;
  margin: auto;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  border: 1px solid lightgrey;
  display: flex;
}

.footer-text {
  margin: auto;
}

.card-close-icon {
  position: absolute;
  right: 5px;
}
